
    .is-infobar {
        color:#555;
    }
    
    .is-infobar a {
        display:block;
    }

    @media only screen and (min-width: 992px) {
        .is-infobar {
            position:fixed;
        }
    }

/*
    .is-ib a {
        text-decoration: none;
        display: block;
        color: inherit;
    }

    .is-ib a:hover {
        color: teal;
    }

    .is-ib .label {
        cursor:pointer;
        font-weight: bold;
        color:#6d7993;
    }

    @media only screen and (max-width: 999px) {

        .is-ib .section {
            padding:5px 50px 5px 0px;
        }

        .is-ib .label {
            padding: 5px 0px 5px 0px;
        }

        .is-ib .element {
            padding: 5px 0px 5px 15px;
        }
    }

    @media only screen and (max-width: 999px) {
        .is-ib {
            margin-top:10px;
        }
    }

    @media only screen and (min-width: 1000px) {

        .is-ib {
            padding-top:20px;
            right:0px;
            position:fixed;
            float:left;
            width:300px;
        }

        .is-ib .section {
            padding:5px 50px 5px 30px;
        }

        .is-ib .label {
            padding: 5px 0px 5px 0px;
        }

        .is-ib .element {
            padding: 5px 0px 5px 15px;
        }
    }
    */