

    .admin-form input , .admin-form .btn , .admin-form select {
        padding:5px;
        font-size:0.8rem;
        line-height:1rem;
        height:auto !important;
    }
    
    .admin-form * {
        font-size: 14px;
    }