
/* DropDown */

.is-dropdown .dd-content {
    display:none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index:10;
}

.is-dropdown .dd-content .dd-element {
    color: #333;
    padding: 12px 16px;
    display: block;
    text-decoration: none;
}

.is-dropdown .dd-content .dd-element:hover {
    background-color: #ddd;
}

    @media only screen and (max-width: 799px) {

    }

    @media only screen and (min-width: 800px) and (max-width: 999px) {

    }

    @media only screen and (min-width: 1000px) {
        
    }