
.is-sidebar {
    position: fixed;
    height:100vh;
    overflow: auto;
    text-align:right;
    padding-bottom:50px;
}

.is-sidebar a {
    display:block;
    padding-right:40px;
}

.is-sidebar .is-active {
    color:teal;
}

.is-sidebar .is-title {
    font-size:18px;
    padding-bottom:15px;
    padding-top:10px;
    color:#555 !important;
}

.is-sidebar .is-label {
    cursor:pointer;
    font-size:16px;
    padding-bottom:8px;
    color:#6d7993;
}

.is-sidebar .is-label:hover {
    color: teal;
}


/*
.is-sb {
    position: fixed;
    z-index: 1;
    left: 0;
    height: 100%;
    overflow-x: auto;
}

.is-sb a {
    text-decoration: none;
    display: block;
    color: inherit;
}

.is-sb a:hover {
    color: teal;
}

.is-sb .section .is-icon {
    float:left;
    cursor:pointer;
    color:#6d7993;
}

.is-sb .section .label {
    cursor:pointer;
    font-weight: bold;
    color:#6d7993;
}

.is-sb .element {
    cursor:pointer;
}

    @media only screen and (max-width: 799px) {

        .is-sb {
            display: none;
            background-color: #eee;
            padding-top:15px;
            border-right: 1px solid #ccc;
            box-shadow: 5px 0px 25px -10px #333;
        }

        .is-sb .section {
            padding:5px 20px 5px 20px;
        }

        .is-sb .section .is-icon {
            padding:5px 0px 0px 0px;
            font-size: 20px;
        }

        .is-sb .section .label {
            padding: 5px 10px 5px 35px;
        }

        .is-sb .element {
            padding: 5px 20px 5px 40px;
        }        
    }

    @media only screen and (min-width: 800px) {
        .is-sb {
            padding-top:20px;
        }

        .is-sb .section .is-icon {
            padding:5px 0px 0px 0px;
            font-size: 20px;
        }

        .is-sb .section .label {
            padding: 5px 5px 5px 35px;
        }

        .is-sb .element {
            padding: 5px 10px 5px 40px;
        }        
    }

    @media only screen and (min-width: 800px) and (max-width: 999px) {

        .is-sb {
            width:250px;
        }

        .is-sb .section {
            padding:5px 15px 5px 30px;
        }
    }

    @media only screen and (min-width: 1000px) {

        .is-sb {
            width:300px;
        }

        .is-sb .section {
            padding:5px 20px 5px 40px;
        }     
    }
    
    */