
    .is-nb {
    	height:50px;
    	max-height:50px;
        margin: 0;
        padding: 0;
        background-color: #6d7993;
        position: fixed;
        top: 0;
        width: 100%;
        z-index: 10;
    }

    .is-nb .element {
        display: block;
    	color:white;
        padding: 14px 16px;
        text-decoration: none;
        text-align: center;
        cursor:pointer;
    }

    @media only screen and (max-width: 799px) {

    }

    @media only screen and (min-width: 800px) and (max-width: 999px) {

    }

    @media only screen and (min-width: 1000px) {
        
    }