<?xml version="1.0" encoding="UTF-8"?>
<web-app version="2.4" xmlns="http://java.sun.com/xml/ns/j2ee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee http://java.sun.com/xml/ns/j2ee/web-app_2_4.xsd">
    <description>Computer Guide</description>
    <!--#
        #
        #       JSP Files
        #
        ################################-->
    <servlet>
        <servlet-name>HomePage</servlet-name>
        <jsp-file>/homePage.jsp</jsp-file>
    </servlet>
    <servlet-mapping>
        <servlet-name>HomePage</servlet-name>
        <url-pattern/>
    </servlet-mapping>
    <servlet>
        <servlet-name>Article</servlet-name>
        <jsp-file>/article.jsp</jsp-file>
    </servlet>
    <servlet-mapping>
        <servlet-name>Article</servlet-name>
        <url-pattern>/article/*</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>ViewTopic</servlet-name>
        <jsp-file>/topic.jsp</jsp-file>
    </servlet>
    <servlet-mapping>
        <servlet-name>ViewTopic</servlet-name>
        <url-pattern>/topic/*</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>ManageImages</servlet-name>
        <jsp-file>/manageImages.jsp</jsp-file>
    </servlet>
    <servlet-mapping>
        <servlet-name>ManageImages</servlet-name>
        <url-pattern>/manageimages</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>ManageTopic</servlet-name>
        <jsp-file>/manageTopic.jsp</jsp-file>
    </servlet>
    <servlet-mapping>
        <servlet-name>ManageTopic</servlet-name>
        <url-pattern>/managetopic</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>ManageTopicTutorialLink</servlet-name>
        <jsp-file>/manageTopicTutorialLink.jsp</jsp-file>
    </servlet>
    <servlet-mapping>
        <servlet-name>ManageTopicTutorialLink</servlet-name>
        <url-pattern>/managetopictutoriallink</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>ManageTutorial</servlet-name>
        <jsp-file>/manageTutorial.jsp</jsp-file>
    </servlet>
    <servlet-mapping>
        <servlet-name>ManageTutorial</servlet-name>
        <url-pattern>/managetutorial</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>ManageArticle</servlet-name>
        <jsp-file>/manageArticle.jsp</jsp-file>
    </servlet>
    <servlet-mapping>
        <servlet-name>ManageArticle</servlet-name>
        <url-pattern>/managearticle</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>ManageRecommendations</servlet-name>
        <jsp-file>/manageRecommendations.jsp</jsp-file>
    </servlet>
    <servlet-mapping>
        <servlet-name>ManageRecommendations</servlet-name>
        <url-pattern>/managerecommendations</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>ManageComments</servlet-name>
        <jsp-file>/manageComments.jsp</jsp-file>
    </servlet>
    <servlet-mapping>
        <servlet-name>ManageComments</servlet-name>
        <url-pattern>/managecomments</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>ManageFeedbacks</servlet-name>
        <jsp-file>/manageFeedbacks.jsp</jsp-file>
    </servlet>
    <servlet-mapping>
        <servlet-name>ManageFeedbacks</servlet-name>
        <url-pattern>/managefeedbacks</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>AdminDashboard</servlet-name>
        <jsp-file>/adminDashboard.jsp</jsp-file>
    </servlet>
    <servlet-mapping>
        <servlet-name>AdminDashboard</servlet-name>
        <url-pattern>/admindashboard</url-pattern>
    </servlet-mapping>
    
    <resource-ref>
        <description>Application Connection pool</description>
        <res-ref-name>appConnPool</res-ref-name>
        <res-type>javax.sql.DataSource</res-type>
        <res-auth>Container</res-auth>
    </resource-ref>
</web-app>
