
    .is-container {
            margin-top:50px;
    }

    @media only screen and (max-width: 799px) {

            .is-container {
                    padding:20px;
            }
    }

    @media only screen and (min-width: 800px) and (max-width: 999px) {

            .is-container {
                    margin-left:250px;  /* side bar */
                    padding:25px;
            }
    }

    @media only screen and (min-width: 1000px) {

            .is-container {
                    margin-left:300px;  /* side bar */
            }

            .is-content {
                    float:left;
                    padding:10px;
                    margin-right:300px; /* information bar */
            }
    }